@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
  --cinza : #9da898;
  --cinzaAzulado: #73808c;
  --rosaClaro: #d69fad;
  --pretoFosco: #151b1f;
}

* {
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Inter', sans-serif;
  background-color: var(--cinzaAzulado);
}

body,.titulo{
  color: var(--pretoFosco);
}

.home,.item,footer{
  background-color: var(--pretoFosco);
}

.home,.item{
  color: var(--cinza);
}

main,.home,.item,.item-info,.contato div{
  display: flex;
}

main,.item-info{
  flex-direction: column;
}

main,.home{
  align-items: center;
}

section,.item{
  height: auto;
}

.titulo,.home-info,.sub-titulo,.descricao,.contato,footer{
  text-align: center;
}

.home-info,.contato span{
  font-size: 1.5em;
}

.titulo,.texto-descricao{
  margin: 1em auto;
}

.item,footer{
  padding: 1em;
}

.item-info,.contato div{
  justify-content: space-around;
}

.sobre,.item-info,.descricao,.contato div{
  width: 50%;
}

.descricao p,.texto-sobre,.texto-descricao{
  text-align: justify;
}

a:hover,footer span{
  color: var(--rosaClaro);
}

section{
  width: 100%;
}

.home{
  justify-content: center;
  border-bottom: 5px solid var(--cinza);
}

.foto{
  width: 500px;
  height: 560px;
}

.texto-sobre{
  margin: auto 3em 3em 3em;
  line-height: 1.5em;
}

.projetos{
  background-color: var(--cinza);
}

.div-projetos{
  width: 90%;
  margin: 2em auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 1em;
  grid-row-gap: 0.5em;
}

.item{
  border-radius: 8px;
}

.contato div{
  margin: 1em auto 3em auto;
}

footer{
  border-top: 5px solid var(--cinza);
}

a{
  color:#E6E6FA;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

p{
  font-size: 1.2em;
}

@media (max-width:1180px){
  .sobre{
    width: 60%;
  }
}

@media (max-width:1100px){
  .home-info{
    font-size: 1.2em;
  }
}

@media (max-width:1000px){
  .home{
    flex-direction: column;
  }
  .home-info{
    text-align: center;
    margin: 1em auto;
  }
  .foto{
    margin-top: 1em;
    border-radius: 6px 6px 0px 0px;
  }
  .sobre, .contato div{
    width: 70%;
  }
  .item-info{
    margin-right: 5px;
  }
}

@media (max-width:900px){
  .div-projetos{
    grid-template-columns: 1fr;
  }
}

@media (max-width:800px){
    .sobre, .contato div{
      width: 80%;
    }
    .texto-sobre{
      margin-bottom: 1em;
    }
}

@media (max-width:620px){
  body{
    font-size: 1.5em;
  }
  .foto{
    width: auto;
  }
  .sobre,.item-info,.descricao,.contato div{
    width: 95%;
  }
  .texto-sobre{
    margin: auto 2em;
  }
  .item{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .item-info,.descricao{
    margin: auto auto;
  }
  .item-info{
    text-align: center;
    margin-bottom: 16px;
  }
  .item-info p{
    margin-top: 5px;
  }
  .contato span{
    font-size: 1em;
  }
}

@media (max-width:500px) {
  .item{
    flex-direction: column;
  }
  .item-info, .descricao{
    width: 100%;
    text-align: center;
    margin: 1em auto;
  }
  .contato div{
    width: 95%;
  }
  .contato span{
    font-size: 0.8em;
  }
}

@media (max-width:430px){
  .home-info{
    margin: 1em auto;
  }
  .texto-sobre{
    margin: auto 1em;
  }
  .contato span{
    font-size: 0.7em;
  }
}
